body{
    background-image: url("../images/fondo.jpg");
    background-color: #ffffff;
    background-repeat:no-repeat;
    background-position: top center;   
}  

a:link {
    text-decoration: none;
    color: #FFFFFF;
} 

a:visited{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover{
    text-decoration: underline;
    color: #FFFFFF;
}

a:active{
    text-decoration: none;
    color: #FFFFFF;
}

#container{
    width: 922px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    width: 922px;
    height: 122px;
    background-image: url("../images/header.png");
    background-repeat:no-repeat;
}

#content{
    width: 852px;
    padding-left: 40px;
    padding-right: 30px;
}

#title{
    width: 922px;
    height: 231px;
    background-image: url("../images/titulo.png");
    background-repeat:no-repeat;
}

#info{
    width: 572px;
    height: 342px;
    background-color: transparent;
    background-repeat:no-repeat;
    float: left;  
    margin-top: 20px; 
    position: relative;
   
}

#form{
    width: 260px;
    height: 330px;
    background-image: url("../images/formulario.png");
    background-repeat:no-repeat;
    float: right;
    padding: 50px 10px 10px 10px;
}

#resp{
    width: 260px;
    height: 110px;
    background-image: url("../images/gracias.png");
    text-align: center;
    background-repeat:no-repeat;
    float: right;
    padding: 200px 10px 60px 10px;   
    margin-top: 10px 
}

#footer{
    width: 922px;
    height: 100px;
    text-align: center;
    background-repeat:no-repeat;
}

label{
    color: #FFFFFF;
    font-size: 10px;
    margin: 12px 0;
}

.space5{
    width: 100%;
    height: 5px;
}

.space10{
    width: 100%;
    height: 10px;
}

.space20{
    width: 100%;
    height: 20px;
}

.item-form{
    width: 240px;
    margin: 5px 10px 5px 10px;
    clear: both;
    text-align: left;
}

.centered{
    text-align: center;
}

input[type='text'].large{
    border: 1px solid #dddddd;
    width: 213px;
    background-color: #f4f5f9;
    color: #666666; 
}

input[type='text'].small{
    border: 1px solid #dddddd;
    width: 63px;
    background-color: #f4f5f9;
    color: #666666; 
}


.col-left{
    float: left;
    width: 115px;
    margin-left: 3px;
}

.col-right{
    width: 120px;
    float: left;
    text-align: left;
}


p.privacidad{
    color: #FFFFFF;
    font-size: 10px;
    font-family: Arial, Helvetica;
    margin-top: 10px;
}

p.back{
    color: #FFFFFF;
    font-size: 20px;
    font-family: Arial, Helvetica;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.col-left-min{
    margin-top: 10px;
    float: left;
    width: 20px;
}

.col-right-max{
    width: 215px;
    float: left;
    text-align: left;
}

.right{
    text-align: right;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#tool1{
    background-image: url("../images/tooltip1.jpg");
    width: 284px; 
    height: 61px; 
    position:absolute;
    display:none;
}

#tool2{
    background-image: url("../images/tooltip2.jpg");
    width: 283px; 
    height: 50px;
    position:absolute;
    display:none;
}

#tool3{
    background-image: url("../images/tooltip3.jpg");
    width: 284px; 
    height: 61px;
    position:absolute;
    display:none;
}

#tool4{
    background-image: url("../images/tooltip4.jpg");
    width: 284px; 
    height: 159px;
    position:absolute;
    display:none;
}

.button{
    background-color: transparent;
    color: #FFFFFF;
    margin-top: 30px;
    cursor: pointer;
    font-weight: bold;
    position:relative;
}

.alert{
    width: 16px;
    height: 16px;
    background-image: url("../images/alert-icon.png");
    background-repeat:no-repeat;
    background-position: center center; 
    display: none;
}

.r{
    float: right;
}

.l{
    float: left;
}

.info:hover{
    cursor: help;
}

.info-error{
    width: 60%;
    border: 1px solid;
    margin: 10px auto;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/info-red.png');
}
